/*TODO Needs to be like #info particles lay below the footer but still render*/

.typer-component {
    display: inline-block
}

.footer-component .social .link:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.footer-component .status:hover {
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75)
}

.footer-component .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-component .social .link {
    -webkit-transition: opacity .3s cubic-bezier(.23,1,.32,1);
    transition: opacity .3s cubic-bezier(.23,1,.32,1);
    margin-left: 16px;
    text-decoration: none;
    opacity: .66;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
    filter: alpha(opacity=66);
    color: #e2e6e8
}